<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scrcu.mapper.UserMapper">

    <insert id="insert">
        insert into user (username, password, txOrgNo, phone, email, operTelrNo, avatar, job, create_time, update_time)
        values (#{username}, #{password}, #{txOrgNo}, #{phone}, #{email}, #{operTelrNo}, #{avatar}, #{job},
                #{createTime}, #{updateTime})
    </insert>

    <delete id="deleteByoperTelrNo">
        delete
        from user
        where operTelrNo = #{operTelrNo};
    </delete>


    <update id="updateUser">
        update user
        <set>
            <if test="username != null and username != ''">
                username = #{username},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="txOrgNo != null and txOrgNo != ''">
                txOrgNo = #{txOrgNo},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="operTelrNo != null">
                operTelrNo = #{operTelrNo},
            </if>
            <if test="avatar != null">
                avatar = #{avatar},
            </if>
            <if test="job != null">
                job = #{job},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime}
            </if>


        </set>
        where id = #{id}
    </update>

</mapper>

