<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scrcu.mapper.UserMapper">

    <insert id="insert">
        insert into user (username, password, txOrgNo, phone, email, operTelrNo, avatar, job, create_time, update_time)
        values (#{username}, #{password}, #{txOrgNo}, #{phone}, #{email}, #{operTelrNo}, #{avatar}, #{job},
                #{createTime}, #{updateTime})
    </insert>

    <delete id="deleteByoperTelrNo">
        delete
        from user
        where id = #{id};
    </delete>
    <!--查询全部用户信息-->
    <select id="selectAll" resultType="com.scrcu.entity.User">
        select *
        from user
        order by update_time desc;
    </select>
    <!--根据ID查询用户信息-->
    <select id="selectById" resultType="com.scrcu.entity.User">
        select *
        from user
        where id = #{id} ;
    </select>
    <!--根据柜员号查询用户信息-->
    <select id="selectByoperTelrNo" resultType="com.scrcu.entity.User">
        select *
        from user
        where operTelrNo = #{operTelrNo} ;
    </select>
    <!--条件&分页查询-->
    <select id="selectPage" resultType="com.scrcu.entity.User">
        select *
        from user
        <where>
            <if test="username != null and username != ''">
                username like concat('%',#{username},'%')
            </if>
            <if test="operTelrNo != null">
                and operTelrNo like concat('%',#{operTelrNo},'%')
            </if>
            <if test="begin != null and end !=null">
                and entrydate between #{begin} and #{end}
            </if>
        </where>
        order by update_time desc
    </select>
    <!--更新用户信息-->
    <update id="updateUser">
        update user
        <set>
            <if test="username != null and username != ''">
                username = #{username},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="txOrgNo != null and txOrgNo != ''">
                txOrgNo = #{txOrgNo},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="operTelrNo != null">
                operTelrNo = #{operTelrNo},
            </if>
            <if test="avatar != null">
                avatar = #{avatar},
            </if>
            <if test="job != null">
                job = #{job},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime}
            </if>
        </set>
        where id = #{id}
    </update>
    <!--批量删除用户-->
    <delete id="batchDeleteUser">
        delete
        from user
        where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

</mapper>

